# requirements.txt

# Django Framework
Django==5.2.3

# PostgreSQL
psycopg2-binary==2.9.9

# Utilidades básicas
python-decouple==3.8

# Para manejo de archivos e imágenes
Pillow==10.3.0

# Para generación y manipulación de PDFs
reportlab==4.2.0
PyPDF2==3.0.1

# Para desarrollo
django-debug-toolbar==4.4.6

# Para validación de archivos
python-magic==0.4.27